<%= render 'shared/page_title', title: 'Vuelos' %>
<div class="row">
  <div class="col-md-12 text-right form-group">
    <%= link_to 'Solicitar vuelo <i class="fa fa-plane" aria-hidden="true"></i>'.html_safe, new_request_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Predio</th>
        <th>aplicacion</th>
        <th>Piloto</th>
        <th>Precio Vuelo</th>
        <th align="center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @vuelos.each do |vuelo| %>
        <tr>
          <td><%= vuelo.predio %></td>
          <td><%= vuelo.aplicacion %></td>
          <td><%= vuelo.piloto %></td>
          <td><%= vuelo.precio_vuelo %></td>
          <td align="center">
            <a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="<%= edit_vuelo_path(@vuelos) %>"><i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a rel="tooltip" title="Delete" class="btn btn-simple btn-danger btn-icon table-action remove" rel="nofollow" data-method="delete" data-confirm="Dar de baja material" href="/materials/<%= material.id %>"><i class="glyphicon glyphicon-remove"></i>
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>