<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= simple_form_for(@request, html: {class: 'form-horizontal'}) do |f| %>
      <%= f.hidden_field :user_id, value: :user_id %>
      <%= f.input :predio, placeholder: 'Ingresar predio' %>
      <%= f.button :submit, class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
  <div class="col-md-4 col-md-offset-5 ">
    [ <%= link_to 'Regresar a lista de vuelos', vuelos_path %>]
  </div>
</div>