
<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <%= simple_form_for(@worker, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
      <div class="form-group">
        <%= f.input :name, label: 'Nombre', placeholder: 'Ingresar Nombre', class: 'form-control ' %>
        <%= f.input :last_name, label: 'Apellido', placeholder: 'Ingresar Apellido', class: 'form-control' %>
        <%= f.input :phone_number, label: 'Numero celular', placeholder: 'Ingresar numero celular', class: 'form-control' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, label:'Crear', class: 'btn btn-primary'%>
        <%= link_to 'Regresar', workers_path, class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>
</div>
