<%= render 'shared/page_title', title: 'Empleados' %>
<div class="row">
  <div class="col-md-12 text-right form-group">
    <%= link_to 'Agregar empleado <i class="fa fa-plus-circle" aria-hidden="true"></i>'.html_safe, new_worker_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      <table class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>No celular</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @workers.each do |worker| %>
          <tr>
            <td><%= link_to worker.name, edit_worker_path(worker) %></td>
            <td><%= worker.last_name %></td>
            <td><%= worker.phone_number %></td>
            <td><%= worker.worker_type.name %></td>
            <td align="left">
              <a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="<%= edit_worker_path(worker) %>"><i class="glyphicon glyphicon-pencil"></i>
              </a>
              <a rel="tooltip" title="Edit" class="btn btn-simple btn-danger btn-icon table-action remove" rel="nofollow" data-method="delete" data-confirm="Dar de baja empleado" href="/workers/<%= worker.id %>"><i class="glyphicon glyphicon-remove"></i>
              </a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>