<%= render 'shared/error', obj: @info_predio %>
<div class="row">
  <div class="col-md-12 text-right form-group">
    <%= link_to 'Mostrar listado de informacion de predios', info_predio_index_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-12">
    <fieldset>
      <legend>Informacion Predio <strong>
        <% concat @predio.name %> - Semana
        <% concat @info_predio.semana %></strong></legend>
      <div class="row">
        <div class="col-md-12">
          <%= form_tag({:controller => "info_predio", :action => "update"}, class: 'info_predio_form', method: "post") do %>
            <%= hidden_field_tag 'info_predio[predio_id]', @info_predio.predio_id %>
            <%= hidden_field_tag 'info_predio[semana]', @info_predio.semana %>
            <%= hidden_field_tag 'info_predio[user_id]', @user.id %>
            <input type="hidden" name="_method" value="patch">
            <div class="row">
              <div class="col-md-6">
                <% unless @materials.nil? %>
                  <% @materials.each_with_index do |material, index| %>
                    <div class="row form-group">
                      <div class="col-md-4 col-sm-4 text-right">
                        <label for="<%= material.name %>">Paquete <%= material.name %></label>
                      </div>
                      <div class="col-md-3 col-sm-3 text-left">
                        <input type="number" name="material_quantity[]" id="material_<%= material.name.downcase %>" data-price="<%= material.price %>"
                               class="form-control required number-materials" min="1"  max="<% if material.quantity > 0 %><%= material.quantity %><% else %><%= @detalle[index].cantidad %><% end %>"

                               <% @detalle.each do |detalle_material| %>
                                  <% if detalle_material.material_id == material.id %>
                                    value="<%= detalle_material.cantidad %>">
                                    <input type="hidden" name="material_predio_hd[]" value="<%= detalle_material.id %>">
                                    <input type="hidden" name="material_quantity_old[]" value="<%= detalle_material.cantidad %>">
                                  <% end %>
                                <% end %>
                          <input type="hidden" name="material[]" id="material_hd_<%= material.name.downcase %>" value="<%= material.id %>">
                        </div>
                      <div class="col-md-3 col-sm-3 text-left material_<%= material.name.downcase %>"></div>
                    </div>
                  <% end %>
                <% end %>

                <div class="row form-group">
                  <div class="col-md-4 col-sm-4 text-right">
                    <%= label_tag(:fumigada, "Fumigacion") %>
                  </div>
                  <div class="col-md-8 col-sm-8 text-left">
                    <%= text_field_tag 'info_predio[fumigada]', @info_predio.fumigada, class: 'form-control required onlyPrice', placeholder: '$0.00' %>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4 col-sm-4 text-right">
                    <%= label_tag(:nutriente, "Nutricion") %>
                  </div>
                  <div class="col-md-8 col-sm-8 text-left">
                    <%= text_field_tag 'info_predio[nutriente]', @info_predio.nutriente, class: 'form-control required onlyPrice', placeholder: '$0.00' %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row form-group">
                  <div class="col-md-4  col-sm-4 text-right">
                    <%= label_tag(:fecha_embarque, "Fecha Embarque") %>
                  </div>
                  <div class="col-md-8 col-sm-8 text-left">
                    <%= text_field_tag 'info_predio[fecha_embarque]', @info_predio.fecha_embarque, class: 'form-control fecha_embarque required' %>
                    <%= hidden_field_tag 'info_predio[fecha_embarque_hd]', @info_predio.fecha_embarque, class: 'fecha_embarque_hd' %>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4 col-sm-4 text-right">
                    <%= label_tag(:color_cinta, "Color cinta") %>
                  </div>
                  <div class="col-md-8 col-sm-8 text-left">
                    <%= select_tag "info_predio[color_cinta]", options_for_select(%w(Roja Verde Azul Naranja Gris Blanca Amarilla Negra Morada Cafe), @info_predio.color_cinta),
                                   multiple: false, class: 'form-control required', id: 'color_cinta' %>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4 col-sm-4 text-right">
                    <%= label_tag(:conteo_racimos, "Conteo racimos") %>
                  </div>
                  <div class="col-md-8 col-sm-8 text-left">
                    <%= text_field_tag 'info_predio[conteo_racimos]', @info_predio.conteo_racimos, class: 'form-control required onlyNumbers', placeholder: '0' %>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4 text-right">
                    <%= label_tag(:ratio, 'Conversion') %>
                  </div>
                  <div class="col-md-8 text-left">
                    <%= select_tag "info_predio[ratio]",
                                   options_for_select(%w(1 1.1 1.2 1.3 1.5 1.6 1.7 1.8 1.9), @info_predio.ratio),
                                   multiple: false, class: 'form-control required', id: 'ratio-convert' %>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4 text-right">
                    <%= label_tag(:cajas, "Cajas") %>
                  </div>
                  <div class="col-md-8 text-left">
                    <%= text_field_tag 'info_predio[cajas]', calculate_weekly_production(@info_predio.ratio, @info_predio.conteo_racimos), class: 'form-control required', readonly: true, placeholder: '0.00' %>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4 col-sm-4 text-right">
                    <%= label_tag(:precio, "Precio") %>
                  </div>
                  <div class="col-md-8 col-sm-8 text-left">
                    <%= text_field_tag 'info_predio[precio]', @info_predio.precio, class: 'form-control required onlyPrice', placeholder: '$0.00' %>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4 col-sm-4 text-right">
                    <%= label_tag(:venta, "Venta") %>
                  </div>
                  <div class="col-md-8 col-sm-8 text-left">
                    <%= text_field_tag 'info_predio[venta]', @info_predio.venta, class: 'form-control required', readonly: true, placeholder: '$0.00' %>
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-8">
                <h2 class="legend">Pagos Trabajadores: <span class="totalPagoTrabajo">$<%= @info_predio.pago_trabaja || '0.00' %></span></h2>
              </div>
              <div class="col-md-4 col-sm-4 text-right">
                <button type="button" class="btn btn-primary btn-legend" id='add-pagos-workers' style=" ">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Pago Trabajadores
                </button>
              </div>
              <div class="col-md-12">
                <hr class="hr-legend">
              </div>
            </div>
            <div class="row form-group" id="container-trabajadores">
              <div class="col-md-12">
                <input type="hidden" name="info_predio[pago_trabaja]" id="pago_trabaja" value="<%= @info_predio.pago_trabaja %>">
                <table class="table table-bordered" id="tablePagos" style="margin: 10px 0;">
                  <thead>
                  <tr>
                    <td>Nombre Trabajador</td>
                    <td>Tipo</td>
                    <td>Pago</td>
                    <td>Remover</td>
                  </tr>
                  </thead>
                  <tbody>
                  <% unless @pagos_workers.nil? %>
                    <input type="hidden" id="notHidden" value="true">
                    <% @pagos_workers.each_with_index do |pago, index| %>
                      <tr data-id="<%= pago.id %>" data-row="<%= pago.id %>">
                        <td>
                          <input type="text" name="trabajador[]" id="pago_trabajador_1" class="form-control" value="<%= @workers[index]['name'] + ' ' +  @workers[index]['last_name']%>"  disabled="disabled">
                          <input type="hidden" name="trabajador_id[]" id="pago_trabajador_1" class="form-control" value="<%= pago.worker_id %>" disabled="disabled">
                        </td>
                        <td>
                          <input type="text" name="tipo_trabajador[]" id="pago_1" class="form-control price" value="<% unless pago.worker.worker_type.nil? %><%= pago.worker.worker_type.name %><% else %><%= 'No definido' %><% end%>" disabled="disabled" >
                        </td>
                        <td>
                          <input type="text" name="pago_trabajador[]" id="pago_1" class="form-control price" value="<%= pago.precio %>" disabled="disabled" >
                        </td>
                        <td>
                          <a href class="btn btn-danger removeWorkerPayment" data-tr="<%= pago.id %>" data-price="-<%= pago.precio %>"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-8">
                <h2 class="legend">Otros Pagos: <span class="totalOtroPago">$0.00</span></h2>
              </div>
              <div class=" col-md-4 col-sm-4 text-right">
                <button type="button" class="btn btn-primary btn-legend" id='add-otros-pagos'>
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Otros Pagos
                </button>
              </div>
              <div class="col-md-12">
                <hr class="hr-legend">
              </div>
            </div>
            <div class="row form-group" id="container-pagos">
              <div class="col-md-12">
                <table class="table table-bordered" id="tableOtherPagos" style="margin: 10px 0;">
                  <thead>
                  <tr>
                    <td>Concepto</td>
                    <td>Precio</td>
                    <td>Remover</td>
                  </tr>
                  </thead>
                  <tbody>
                  <% unless @otros_pagos.nil? %>
                  <input type="hidden" id="notHiddenOtrosPagos" value="true">
                    <% @otros_pagos.each do |otro_pago| %>
                      <tr data-id="<%= otro_pago.id %>" data-row="<%= otro_pago.id %>">
                        <td>
                          <input type="text" name="otro_pago[]" id="otro_pago_1" class="form-control" value="<%= otro_pago.nombre %>"  disabled="disabled">
                        </td>
                        <td>
                          <input type="text" name="otro_pago_precio[]" id="otro_pago_precio_1" class="form-control otroPago" value="<%= otro_pago.precio %>" disabled="disabled" >
                        </td>
                        <td>
                          <a href class="btn btn-danger removerOtherPayment" data-row="<%= otro_pago.id %>"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-offset-8 col-md-4 col-sm-4 text-right">
                <%= submit_tag "Guardar Informacion del Predio", class: "btn btn-sbt-dashboard", id: "savePredioInfo" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Gasto</h4>
      </div>
      <form id="otroPago" onsubmit="return false;">
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Nombre:</label>
            <input type="text" class="form-control" name="nombrePago" id="txtNombre">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Precio:</label>
            <input type="text" class="form-control" name="precioPago" id="txtPrecio">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="save-payment">Guardar Gasto</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="pagoTrabajadoresModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Gasto</h4>
      </div>
      <form id="pagoTrabajadoresForm" onsubmit="return false;">
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Trabajador:</label>
            <% unless workersUser.nil? %>
              <select class="form-control required" name="worker_id" id="worker_id"><option value="">Selecciona un trabajador</option>
                <% workersUser.each do |worker| %>
                  <option data-worker-type="<% unless worker.worker_type.nil? %><%= worker.worker_type.name %><% end %>" value="<%= worker.id %>"><%= worker.fullname %></option>
                <% end %>
              </select>
            <% end %>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Precio:</label>
            <input type="text" class="form-control" name="precioPago" id="txtPrecio">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="save-payment-worker">Guardar Pago</button>
        </div>
      </form>
    </div>
  </div>
</div>
