<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <%= form_for(@material, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
              <%= f.label :name, 'Nombre' %>
              <%= f.text_field :name, class: 'form-control full-width', placeholder: 'Nombre del producto', autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
              <%= f.label :price, 'Precio' %>
              <%= f.number_field :price, class: 'form-control full-width', placeholder: 'Precio', step: :any %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
              <%= f.label :quantity, 'Cantidad' %>
              <%= f.number_field :quantity, class: 'form-control full-width', placeholder: 'Cantidad' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-6  text-left">
                  <%= link_to '<i class="fa fa-undo" aria-hidden="true"></i> Regresar a los materiales'.html_safe, materials_path, class: 'btn btn-default btn-back' %>
                </div>
                <div class="col-md-6  text-right">
                  <%= f.submit(@material.new_record? ? 'Crear material' : 'Actualizar material',
                               class: 'btn btn-primary btn-lg btn-xlarge btn-block btn-sbt-dashboard') %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>