<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@material, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-4">
            <%= f.label :name, 'Nombre' %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :name, class: 'form-control', placeholder: 'Nombre del producto', autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-4">
            <%= f.label :price, 'Precio' %>
          </div>
          <div class="col-md-4 ">
            <%= f.number_field :price, class: 'form-control', placeholder: 'Precio', step: :any %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-4 ">
            <%= f.label :quantity, 'Cantidad' %>
          </div>
          <div class="col-md-4">
            <%= f.number_field :quantity, class: 'form-control', placeholder: 'Cantidad' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-md-4">
            <%= f.submit(@material.new_record? ? 'Crear material' : 'Actualizar material',
                         class: 'btn btn-primary btn-lg btn-xlarge btn-block') %>
          </div>
        </div>
      <% end %>
      <div class="col-md-4 col-md-offset-4 colormatch">
        [ <%= link_to 'Regresar a los materiales', materials_path %>]
      </div>
    </div>
  </div>
</div>