<%= render 'shared/page_title', title: 'Materiales' %>
<div class="row">
  <div class="col-md-12 text-right form-group">
    <%= link_to 'Agregar material <i class="fa fa-plus-circle" aria-hidden="true"></i>'.html_safe, new_material_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total Invertido</th>
          <th align="center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @materials.each do |material| %>
          <tr>
            <td><%= link_to material.name, edit_material_path(material) %></td>
            <td><%= material.price %></td>
            <td><%= material.quantity %></td>
            <td><%= material.price * material.quantity %></td>

            <td align="center">
              <a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="<%= edit_material_path(material) %>"><i class="glyphicon glyphicon-pencil"></i>
              </a>
              <a rel="tooltip" title="Delete" class="btn btn-simple btn-danger btn-icon table-action remove" rel="nofollow" data-method="delete" data-confirm="Dar de baja material" href="/materials/<%= material.id %>"><i class="glyphicon glyphicon-remove"></i>
              </a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>