<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//code.jquery.com/jquery-3.3.1.min.js" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css' %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//www.gstatic.com/charts/loader.js", 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/navigation' %>
<div class="container">
  <%#= render 'layouts/messages' %>
  <%= render 'shared/notifications' %>
  <%= yield %>
</div>
</body>
</html>